/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/ */
/* Start of "Micro clearfix" */

.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

/* End of "Micro clearfix" */

/*
background-image:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/7248/grid-1.png");*/

main {
  width: 85vw;
  margin: 1.562% auto;
  border: 1px solid #000;
  /* background-image: url("../resources/grid.png"); */
}

header.primary {
  /* width: 1240px; */
  width: 96.875%;
  margin: 1.5625%;
  background-color: rgba(0, 0, 0, 0.4);
  float: left;
  padding: 1.562%;
}

#blog {
  /* width: 925px; */
  width: 72.265%;
  background-color: rgba(0, 0, 0, 0.4);
  float: left;
  margin-left: 1.5625%;
  padding: 1.5625%;
}

aside {
  /* width: 295px; */
  width: 23.046%;
  float: left;
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: 1.5625%;
  padding: 1.5625%;
}
footer.primary {
  /* width: 1240px; */
  width: 96.875%;
  margin: 1.562%;
  background-color: rgba(0, 0, 0, 0.4);
  float: left;
  padding: 1.562%;
}

@media screen and (min-width:400px){
  main{
    background:purple;
    width:300px;
  }
}

@media screen and (min-width:800px){
  main{
    background:green;
    width:700px;
  }
}

@media screen and (min-width:1000px){
  main{
    background:red;
    width:900px;
  }
}