/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/ */
/* Start of "Micro clearfix" */

.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

/* End of "Micro clearfix" */

/*
background-image:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/7248/grid-1.png");*/

main {
  width: 1280px;
  margin: 20px auto;
  border: 1px solid #000;
  background-image: url("../resources/grid.png");
}

header.primary {
  width: 1240px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  float: left;
  padding: 20px;
}

#blog {
  width: 925px;
  background-color: rgba(0, 0, 0, 0.4);
  float: left;
  margin-left: 20px;
  padding: 20px;
}

aside {
  width: 295px;
  float: left;
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: 20px;
  padding: 20px;
}
footer.primary {
  width: 1240px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  float: left;
  padding: 20px;
}
