/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/ */
/* Start of "Micro clearfix" */

.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

/* End of "Micro clearfix" */

/*
background-image:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/7248/grid-1.png");*/

main {
  display: grid;
  grid-template-columns: repeat(1fr, 12);
  width: 1280px;
  margin: 2vh auto;
  padding: 0px 20px;
  gap: 20px;
  border: 1px solid #000;
  background-image: url("../resources/grid.png");
}

header.primary {
  /* width: 1240px; */
  grid-column: 1 / span 12;
  background-color: rgba(0, 0, 0, 0.4);
}

#content{
  grid-column: 1 / span 7;
  display: grid;
  grid-template-columns: repeat(1fr, 12);
  padding: 0px;
  gap: 20px;
}

#blog {
  /* width: 925px; */
  grid-column: 1 / 8;
  background-color: rgba(0, 0, 0, 0.4);
}

aside {
  /* width: 295px; */
  grid-column-start: 8;
  background-color: rgba(0, 0, 0, 0.4);
}
footer.primary {
  /* width: 1240px; */
  grid-column: 1 / span 12;
  background-color: rgba(0, 0, 0, 0.4);
}


/*media queries
@media screen and (min-width:400px){
  main{
    background:purple;
    width:300px;
  }
}

@media screen and (min-width:800px){
  main{
    background:green;
    width:700px;
  }
}

@media screen and (min-width:1000px){
  main{
    background:red;
    width:900px;
  }
}

*/